*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00171f, #003459, #00a8e8);
}

h1{
    color: aliceblue;
    font-style: italic;
}